cupy==6.1.0             # numpy like c modules
chainer==6.1.0          # Deep Learning Framework
pandas==0.24.2          # CSV processing
librosa==0.6.3          # Audio processing
requests==2.22.0        # HTTP requests
ideep4py                # Optim CPU for Chainer
cython
matplotlib
seaborn
llvmlite==0.32.1        # Pinning supporting packages to resolve conflict
numba==0.49.1           # Pinning supporting packages to resolve conflict
